includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 9
  paths:
    - app
    - routes
  excludePaths:
    - tests
    - bootstrap
  checkMissingIterableValueType: false
  checkMissingVarTagType: false
  inferPrivatePropertyTypeFromConstructor: true
